body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Fondo gris */
}

.dashboard-container {
    text-align: center;
    border-top: 2px solid #ff0000; /* Borde superior rojo */
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none; /* Elimina el borde del iframe si lo hubiera */
}
